

#holderHead{
    color: white;
    background-color: #FF5A5F;
}

#btn_default{
    background-color: white;
    float: right;
    color: #FF5A5F;
    border: 1px #FF5A5F solid;
    padding: 3px 6px;
    text-transform: uppercase;
}

#btn_default:hover{
    color: #fff;
    background: #FF5A5F;
    border-color: #e84d1c;
}

#navbar_default {
    color: #FF5A5F;
    background-color:white ;
    border: #FF5A5F 1px solid;
}
#navbar_default_btn{
    color: #FF5A5F;
}

#navbar_default_btn:hover{
    font-size: 17px;
}